.news {
	width: 380px;
}

.news-list {
	padding: 0;
	list-style: none;
}

.news-item {
	margin-bottom: 25px;
}

.news-item p {
	margin: 0;
}

.news-item time {
	text-transform: none;
}

@media (width < 840px) {
	.news .button {
		width: 100%;
		margin-right: 0;
	}
	.index-columns section li p {
    max-width: 75vw;
	}

	.news h2 {
		text-align: center;
	}

	.news {
		width: 80vw;
		display: block;
	}

	.news-item p {
		font-size: 1rem;
	}

	main.news.button {
		font-size: 1rem;
		padding: 20px 25px;
	}
}

@media (width < 576px) {
	.news {
		width: 88vw;
	}

	.index-columns section li p {
    max-width: 85vw;
	}
}