.pagination-list {
  padding: 0;
  margin: 0;
  margin-top: 45px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  background-color: #000000;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  width: 43px;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
  background-color: #663d15;
}

.pagination-item-current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item-current a {
  color: #000000;
}

@media (width < 840px) {
  .pagination-item a {
    font-size: 1.2rem;
  }
}
